
.navbar-default .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}
body{
	 font-family: 'Lato', sans-serif;
	 font-size:1rem;
    font-weight: 350;
    line-height:1.5;
    font-family:-apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.account_info{
margin-: 0px;
padding: 1%;
margin-left: 4%;
}
#real_nav{
transition: .5s ease;
}
.empty{
	height: 250px;
}
.sortBy{
width: 70%;
}
 
.quick_container:hover  .show_img {
	
	margin-left: -150%
		
}

.quick_container:hover  .quick_action {
 		 	background-color: black;
	height: 110px;
	margin-bottom: 0px;
}

.quick_container:hover  .quick_progress{
	margin-left: -80px;
	 
}
.quick_progress{
		transition: .3s ease;
}
 #quick_show_name{
 	color: white !important;
 }
.quick_container{

	transition: .3s ease;
	content: ' ';
	 float: left;
   
    height: 100%;
   
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    transition: .5s ease;

}
 

.quick_action{
	height: 0px; 
	margin-bottom: 100px;
	overflow: hidden !important;;
	margin-left: px;
	width: 110%;
	background-color: #ecf0f1 !important;
	font-size: 10px;
    -webkit-transition: width 20s; /* For Safari 3.1 to 6.0 */
    transition:   0.2s;
 }

.quick_action .edit{
	width: 100px;
	margin-top: 2px;
	margin-left: 110px;
 }

 
.quick_action i{
	
	margin-top: 7px;
	
 }


.quick_action:after{
	 
	height: 100px; 
	display: block;
	margin-bottom: 100px;
	visibility: hidden;
 }


 .show_img{
 	margin-left: 10px;
	max-height: 70px;
	transition: .3s ease;
	max-width: 70px;
}
.bottom{
	 bottom:  0%;
	  margin-top: 65px;
	  margin-right: 0%;
}
.sortBy:hover{
background-color: 
}
.btn-group-vertical label, button, input{
 text-align:  left !important;
}
.btn-group-vertical  button{
width: 80% !important;
}
.btn-light{
background-color: transparent !important;
}
.active2{
  background-color: white;
}
.active hover{
  background-color: #efefef;
}
 
.cursor{
	cursor: pointer;	
}
textarea {
  border: none;
   outline: none;
  resize: none;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.search{
    border: none;
    outline: none;
      background: transparent;
    border: none;
}

.white_box{
	background-color: white;
	overflow: hidden;
	border-radius: 1%;
	padding-bottom: 1%;
}

.center-v{
	bottom: 50%;
}
.border-dark{
	border: 1px solid black;
	margin: 2%;
}
.no_margin{
	  margin: -3px
}
.app{
	margin-bottom: 5%;
	margin-top: 3%;
}
 
 
.carousel-cell{
	overflow: hidden !important;
}

 
 
.carousel {
  background: #FAFAFA;
  	 padding: 1%;
	 padding-left: -30px;
	background-color: #7f8c8d;
	height: 260px;
	margin-bottom: 2%;
	margin-top: -22px;
}

.carousel-cell {
  width: 307px;
  
  height: 220px;
  margin-right: 10px;
  background: white;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.empty-cell{
	 width: 307px;
text-align:center;border:2px dashed ;

  height: 220px;
  margin-right: 10px;
 border: 3px dashed rgba(255,255,255,.2);
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.f-cell {
  width: 10px;

  height: 220px;
  margin-right: 0px;
 visibility: hidden;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
 
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.flckity-slider {
	transform: translateX(8.02%) !important;
}
.quick_discover{
	padding: 2%;

}
.quick_discover button{
	margin-top: 70px;
}
.empty-cell i{
 margin-left: auto;
    margin-right: auto;
    margin: auto;
    opacity: 0.7;
    margin-top: 25%;
  
}
#edit_content{
	width: 600px;
} 
.reaction_container2{
	color: white;
 	width: 100%;
    height: 390px;
     background-repeat: no-repeat !important;
    background-position: 50% 0 !important;
    transition: .5s ease;
    background-size: cover !important;
}

.reaction_container2 textarea{
	 
  background:transparent;
    outline:none;
    border:none;
    width:100%;
    font-size:10px;
    color:#fff;
   
    
}
.reaction_container2 hr{
margin: -1px;
    
}
#post_reaction{
	position: absolute;
	display: block;
	width: 90%;
 	bottom: 30px;
}
#post_reaction button{
	
 	bottom: 0;
}
.lists_container{
	padding: 2px;
	text-align: center;
	width: 470px;
	height: 270px;
}
.list_thumbnail{
	text-align: center;
	 
	background-color: #2c3e50;
	color: #ecf0f1;
	border-radius: 2px;
	;
	  padding: 70px;
	  
}
 
.list_thumbnail span{
border-radius: 4px;
background-color: grey;
	  padding: 7px;
	  
}
.list_thumbnail p{
color: grey;
	  
}














.list_summary{
	background-color: white;
	padding: 30px;
	padding-right: 40px;
	padding-left:  40px;
	width: 100%;
}
.list_summary div{
	float :left;
	margin-left:40px;
} 

.list_intro{
	width: 100%;
	padding-left: 40px;
}

.list_intro div{
	margin-left: 20px;
}
 

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content a{
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.dropdown-content a:hover{
	color: black;
	text-decoration: none;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
        font-weight: normal;
    font-size: 9px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    z-index: 15;
 right: 0;
    
   
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 