.fa-heart-o{
   transition: all 0.3s cubic-bezier(.75,-0.49,.67,1.2) 0s;
}
.fa-heart{
   transition: all 0.3s cubic-bezier(.75,-0.49,.67,1.2) 0s;
}
 .post_padding{
  padding: 7px 15px 0 10px;
 }
            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }
.timeline-time{
  font-size: 12px;
  font-weight: bold;
  margin-left: 20px;
}
 .vl:before {
    border-left: 4px solid #f5f5f6;
    height: 80px;
    left: 180px;
    display: block;
    position: absolute;
    z-index: 0;
}

.vl{
  
    border-left: 4px solid #f5f5f6;
    height: 55px;
    left: 180px;
    display: block;
    position: absolute;
    z-index: 0;
}
.-label{
  margin-left: 200px; margin-top:15px;
  line-height: 60px;
  font-weight: normal !important ; 
  font-size: 10px !important;
  }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
               z-index: 100;
               position: absolute;
                margin-right: 10px;
                display: relative;
                width: 15px;
                height: 15px;
                 left: 139px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                -moz-box-shadow: 0 0 0 5px #f5f5f6;
                -webkit-box-shadow: 0 0 0 5px #f5f5f6;
                box-shadow: 0 0 0 5px #f5f5f6;
                line-height: 30px;
                font-size: 15px;
                margin-top: 15px;
                
                margin-left: 35px;
                float: left;
            }

 
           
               .completed{
                    background-color: #2ecc71;
              
                }

               .watching{
                    background-color: #3498db;
                    color: #fff;
                }

               .dropped{
                    background-color: #e74c3c;
                    color: #fff;
                } 

 
                .watch-list{
                    background-color: #34495e;
                    color: #fff;
                }

 
             
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #737881;
                    font-family: "Noto Sans",sans-serif;
                    font-size: 12px;
                    margin: 0;
                    line-height: 0.5;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                       
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-size: 16px;
                    
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        -webkit-opacity: .6;
                        -moz-opacity: .6;
                        opacity: .6;
                        -ms-filter: alpha(opacity=60);
                        filter: alpha(opacity=60);
                    }


.numb {
  box-sizing: border-box;
  text-align: center;
 
  }
  .number-wrap:hover .arrow{
    opacity: 1;
  }
.number-wrap:hover {
    
    position: relative;
   
}
.number-wrap     input {
      width: 100%;
      border: 1px;
      outline: 1px;
      text-align: center;
    }

    .arrow {
      
    }

    .arrow .up {
        left: 10px;
        top: 3px;
      }
      .arrow .down {
        top: 3px;
        right: 10px;
      }
    }
    .number {
      padding: 0.6rem;
      border-radius: 25px;
      border: solid 1px #ddd;
      margin: 0;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: textfield;
      transition: all 200ms linear;
         outline: none;
        border-color: #999;
}
    
 


figure{
   width:100%; /*container-width*/
  
   overflow:hidden; /*hide bounds of image */
   margin:0 0 0 0;
   padding-left: 0;   /*reset margin of figure tag*/
}
figure img{
  float: left;
padding: 3px;
  max-width: 100%;
 
}
.make_me_heigh{
  max-height: auto !important;
}
.importantRule { height: 200px !important; }
#post{
margin-bottom: 20px;
  padding-top: 15px;
}

 
 

.form-group {
 width: 70%
    
}
#lib_entry{
  
 margin-bottom: 10px;
  width: 96.5%;
  background-color: white;
}
  .glyphicon {
    color:  #95d7fc;
  }
#myNumber{
  border: 1px solid #bdc3c7;
}

.post_container{
  background-color: white;
  padding: 1px;
}

.post_s{
margin-top: 3%;
box-shadow: 0 1px 4px rgba(0,0,0,.04);
position: relative;
   width: 100% !important;
  background-color: #fff;
}

.lower_right{
  position: absolute;
  right: 5px;
  font-size: 12px;
  bottom: 5px;
}
.spoilered{
 -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
 
  background-color: #ccc;
}

.spoilered:after{
    display: block;
    
    content: 'spolier: ';
    text-align: center;
    color: white;
 
}
#linkshow{
  min-height: 34px;
}
.post_action > div {
  margin-right: 15px; 
}
.spoiler_alert{
  text-align: center;
  color: #9796a1;
  font-weight: bold;

 
  bottom: 100px;  
  transform: translate(-2%,-80%);
}
.show_thumnail{
  border: 1px solid #e6e4e4;
}
  .upload-btn-wrapper {
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
}
/* The container */
.checkbox_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.create_post_wrapper{
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin: 10px 15px 0px 0px;
}
.create_post_wrapper > img{
  margin-right: 15px;
}
.upload {
  cursor: pointer;
  border: 2px solid white;
  color: gray;
  background-color: white;
  padding: 8px 4px;
  border-radius: 8px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;

}

#uploading_section{
 width: 100%;
 padding: 0 3% 0 3%;
 height: 110px;
  }

#upload_target {
margin-left: 100px;

  display: flex;
  flex-flow:row;
 
  overflow-x: auto;
  top: 110px;

}

.uploaded_img{
 

  height: 90px;
  flex-shrink: 0 !important;
  width: 90px;  
   background-position:50% 50%;
    background-size: 150px auto !important;
 
  background-repeat: no-repeat !important;
  margin-right: 5px;
  border-radius: 4px;
}


.disabled{
  background-color: #7f8c8d;
}
.see_more_buton{
  background-color: white;
  z-index: 2;
   
    position: absolute;
    bottom: 50;
    left: 160;
  border-radius: 5px;
  border: 2px #ecf0f1 solid;
  padding : -5px;
   
  text-align: center;
   
  font-size: 8px;
  font-weight: bold;
}

 
 .post_s {
  padding: 2% 1% 0% 1%;
 }
 .view_grid_5{
  max-height: 350px;
  height: 300px;
 }
.view_grid_5 > #img0, .view_grid_5 > #img1 {
 
    max-width: 250px;
  max-height: 250px;

}
.view_grid_5 > #img2, .view_grid_5 > #img3, .view_grid_5 > #img4  {
 
   width: 32.1%; /*container-width*/
  
   overflow:hidden; /*hide bounds of image */
  
   padding-left: 0; 

  max-height: 150px;
}

.view_grid_3 > #img0  {
  height: 100%;
 margin : 0 auto;
 max-width: 100%;
  overflow:hidden; 
 margin: 0 -0% 0 -51%;
}
.view_grid_3 > #div0  {
 width: 50%;
 
}
.view_grid_3 > #img1, .view_grid_3 > #img2   {
   width:  50%; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   float: none
    
}

.create_post_wrapper{
  margin-bottom: 35px;
  background-color: white;
  min-height: 1px;
box-shadow: 0 1px 4px rgba(0,0,0,.04);

border: 1px solid rgba(0,0,0,.09);
  max-height: 540px;
  border-radius: 3px; 
  width: 100%;
color: #464646;

}
.create_post_wrapper > div{
  background-color: white;
 

}
 
 .post_thumnail{
  cursor: pointer;
 }
 .post_thumnail{
  height: 60px;

display: flex;

align-content: center;

vertical-align: middle;

padding-top: auto;
 }
  .post_thumnail > img,   .post_thumnail > p{ margin: 3px 10px 0 0 ; }
  .post_thumnail > p{
    margin-top: 9px;
    margin-left: 9px;
  }