.rating i.fa {
     font-size: 30px;
    color: gold;
    float: none;

}

.rating{
    

    width: 200px;
   
}
.c{
   
}
.center-block{
    display: block;
  
}
.fa-circle-o-notch{
    color: black;
}

/*
LOAD MORE
*/

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}