.rating i.fa {
     font-size: 2.9rem;
    color: gold;
    float: left;

}

.rating{
    

 
   
}
.c{
   
}
.center-block{
    display: block;
  
}
.fa-circle-o-notch{
    color: black;
}

/*
LOAD MORE
*/

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}