.rating i.fa {
    font-size: 3.0rem;
    color: gold;
    float: left;
    margin-left: 8px;
}

}

.rating{
    

 
   
}
.c{
   
}
.center-block{
    display: block;
  
}
.fa-circle-o-notch{
    color: black;
}

/*
LOAD MORE
*/

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}